<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Financeiro</display-name>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/system/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OiMundoServlet</display-name>
    <servlet-name>OiMundoServlet</servlet-name>
    <servlet-class>com.algaworks.servlet.OiMundoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OiMundoServlet</servlet-name>
    <url-pattern>/OiMundoServlet</url-pattern>
  </servlet-mapping>
</web-app>